.footer-hero {
   display: flex;
   margin-bottom: 28px;
   padding-top: 54px;
 
}

.footer-hero__image {
   margin-right: 67px;
   width: 158px;
   height: 76px;

   &:hover {
      opacity: 0.8;
   }

   &:active {
      opacity: 0.6;
   }
}

.footer-hero__list {
   margin-top: 0;
   padding-left: 0;
   list-style: none;
}

.footer-hero__list--active {
   margin-top: 0;
   margin-right: auto;
   margin-left: 100px;
   padding-left: 0;
}

.footer-hero__item {
   margin-bottom: 14px;
   list-style: none;

  
}

.footer-hero__item--active {
   list-style: none;
   margin-bottom: 0;
}

.footer-hero__link {
   text-decoration: none;
   font-family: "Futura";
   font-weight: 500;
   font-size: 16px;
   line-height: 20.51px;
   color: #333333;

   &:hover {
      color: #FFBD54;
   }

   &:active {
      color: #333333;
      opacity: 0.6;
   }
}

.footer-hero__time {
   display: flex;
   margin-right: auto;
   flex-direction: column;
   font-weight: 500;
   position: relative;


   &::before {

      content: "";
      display: block;
      position: absolute;
      background-image: url(../../images/time.svg);
      background-repeat: no-repeat;
      width: 14px;
      height: 14px;
     
      left: -20px;
   }
}

.footer-hero__addres {
   margin-right: auto;
   font-family: "Futura";
   font-weight: 500;
   font-size: 16px;
   line-height: 20.51px;
   position: relative;



   &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url(../../images/house.svg);
      width: 13px;
      height: 13px;
      left: -25px;
      
   }
}

.footer-hero__info {
   display: flex;
   flex-direction: column;
   position: relative;


   &::before {
      content: "";
      display: block;
      background-image: url(../../images/phone.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 13px;
      height: 13px;
      left: -20px;
   }
}

.footer-hero__tell__link {
   margin-bottom: 4px;
   text-decoration: none;
   font-family: "Futura";
   font-weight: 500;
   font-size: 14px;
   line-height: 17.95px;
   color: #333333;


   &:hover {
      color: #FFBD54;
   }

   &:active {
      color: #333333;
      opacity: 0.6;
   }


}

.footer-hero__tell__link:nth-child(3) {
   margin-bottom: 0;
}

.footer__text {
   display: block;
   margin-top: 0;
   margin-bottom: 23px;
   margin-left:1100px;
   font-family: "Futura";
   font-weight: 400;
   font-size: 14px;
   line-height: 17.95px;
   color: #333333;
   opacity: 0.6;
}